* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #272640;
}

.wrapper {
	width: 800px;
	padding: 50px;
	background: linear-gradient(180deg, #1b3a4b 0%, #144552 35%, #006466 100%);
	text-align: center;
	color: white;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0 0 15px black;
}

.wrapper h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

.wrapper p {
	margin-bottom: 50px;
	font-size: 26px;
	font-weight: 200;
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-left,
.section-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-body input {
	margin-bottom: 10px;
	width: 100%;
	font-size: 60px;
}

.app-body input,
.app-body select {
	color: #fff;
	border: none;
	background: none;
	text-align: center;
}

.app-body select {
	padding: 10px 20px;
	font-size: 36px;
	cursor: pointer;
}

.app-body input:focus,
.app-body select:focus {
	outline: none;
	color: #660200;
}

.app-body option {
	text-align: left;
	color: #333;
}

.swap {
	align-self: flex-end;
	margin: 5px;

	padding: 5px 50px;
	font-size: 30px;
	background-image: linear-gradient(
		180deg,
		rgba(39, 38, 64, 1) 0%,
		rgba(99, 3, 1, 1) 100%
	);
	border: none;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
}

.swap:focus {
	outline: none;
	background-image: linear-gradient(
		180deg,
		rgb(59, 58, 99) 0%,
		rgb(196, 39, 37) 100%
	);
}

.wrapper .rate-info {
	margin-top: 30px;
	margin-bottom: 0;
}
